<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taskstodo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.taskstodo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.taskstodo.CreateNewToDoActivity"
            android:label="Create a new ToDo item" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.testapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.taskstodo.EditToDoActivity"
            android:label="Edit a ToDo item" >
        </activity>
    </application>

</manifest>